[2021-05-12 13:01] Shluffy opened #1 "using .json to get bookmarklets"
@gosoccerboy5 can I use your code?

[2021-05-12 16:34] gosoccerboy5 commented on #1
Sure, I'm not stopping you!

[2021-05-12 17:14] Shluffy commented on #1
okay. I will download and add it. of course the css will probably be like shluffy.github.io. do you know how to toggle light/dark mode by a button?

[2021-05-12 17:19] gosoccerboy5 commented on #1
[code]
[code]
[code]
basic idea

[2021-05-12 17:29] Shluffy commented on #1
okay, will work on that as well

[2021-05-13 14:13] xItzDiamondx commented on #1
For the normal page, should I develop it?

[2021-05-13 15:43] Shluffy commented on #1
we need a contributors page

[2021-05-13 16:13] gosoccerboy5 opened #4 "Bug: Error with fetch"
**Describe the bug**
Using a relative url in fetch makes it impossible to test locally, because you apparently can't fetch your own filesystem (!)

**To Reproduce**
Test index.html locally

**Expected behavior**
It should work locally.

**Browser Information**
MacOS Big Sur 2020, Firefox 88.0

**Additional context**
None.

**To fix**
we should use an absolute url in https://github.com/Scratch-Book

[2021-05-13 16:14] ZI-Youtuber opened #5 "access"
Can you give me the access to maintain this repo

[2021-05-13 16:16] ZI-Youtuber opened #6 "Website for Scratch Bookmarklets"
@Shluffy Copy the website things for Scratch Bookmarklets and put them in the main org in the repo ScratchConsoleExtensionsWebsite

[2021-05-13 16:17] ZI-Youtuber commented on #4
@gosoccerboy5 well the url will stay the same to be honest

[2021-05-13 16:18] ZI-Youtuber commented on #1
@Shluffy yeah

[2021-05-13 16:19] ZI-Youtuber commented on #1
@Shluffy well that will be in the Scratch Devs ebsite as well but if you are talking about specifically this repo then ok

[2021-05-13 16:20] gosoccerboy5 commented on #4
Do you even know what I'm talking about? Try testing index.html locally - it won't work (unless this is a browser/os-specific thing)

[2021-05-13 16:21] ZI-Youtuber opened #7 "Keeping the updates along with the main org repo"
Whatever changes we are doing here you will have to update for the one in the main org.

Also just rememebr one is for the website for the bookmarklets and one is with the javavscript codes i

[2021-05-13 16:23] ZI-Youtuber commented on #4
@gosoccerboy5 we are using github-pages so it will write the file name obviously also with the part  "https://scratch-bookmarklets.github.io/"

And it happens with a lot of website other than the websites that uses github-pages

[2021-05-13 16:28] Shluffy commented on #7
I think keeping it here is fine - we can make a scratch-dev-team fork if you want.

[2021-05-13 16:30] ZI-Youtuber commented on #7
@Shluffy ok make a pull request then

[2021-05-13 16:30] Shluffy commented on #1
both.

[2021-05-13 16:31] ZI-Youtuber commented on #7
@Shluffy or I can copy the code and put it in the repo myself

[2021-05-13 16:33] Shluffy commented on #6
This is a side org - there is no need to copy it. scratch-dev-team can have a fork if you, but it is a side org.

[2021-05-13 16:33] #6 closed

[2021-05-13 16:34] ZI-Youtuber opened #8 "Link for website"
I can't see the link of the website can you display it?

[2021-05-13 16:35] #5 closed

[2021-05-13 16:36] ZI-Youtuber commented on #7
@

[2021-05-13 16:36] #7 closed

[2021-05-13 16:37] Shluffy commented on #5
given

[2021-05-13 16:37] Shluffy commented on #8
scratch-bookmarklets.github.io

[2021-05-13 16:37] Shluffy commented on #8
will add to readme.md

[2021-05-13 16:39] Shluffy commented on #4
I will test locally.

[2021-05-13 16:41] Shluffy opened #9 "Feature Request: 404 page."
I will get started on this.

[2021-05-13 16:43] ZI-Youtuber commented on #8
@Shluffy ok

[2021-05-13 16:43] #8 closed

[2021-05-13 16:43] ZI-Youtuber commented on #9
@Shluffy ok

[2021-05-13 16:47] gosoccerboy5 commented on #4
I can go ahead and make a pr
https://github.com/gosoccerboy5/Scratch-Bookmarklets.github.io/tree/use-absolute-url

[2021-05-13 16:55] #4 closed

[2021-05-13 16:57] Shluffy commented on #9
okay.

[2021-05-13 17:01] gosoccerboy5 commented on #9
What do you think of an about page as well?

[2021-05-13 17:03] Shluffy commented on #9
sounds godd, do you want to do that (just make a sperate issue and self assign pls)

[2021-05-13 17:04] Shluffy opened #13 "Feature Request: Contributors Page"
i can do this after the 404, but if anyone wants to take it feel free to do so, just asign yourself.

[2021-05-13 17:05] gosoccerboy5 commented on #9
I could do that.

[2021-05-13 17:05] Shluffy opened #14 "issue templates"
right now I am assigned to both, does anyone want to be assigned to specific things?

[2021-05-13 17:05] gosoccerboy5 opened #15 "Feature Request: About page"
**Feature**
About page

**Additional context**
idea from #9

[2021-05-13 17:07] gosoccerboy5 commented on #14
You can default assign me too if you want

[2021-05-13 17:09] gosoccerboy5 opened #16 "Feature Request: Footer"
**Feature**
With all of the new pages we are planning on adding, we should have a footer

**Additional context**
#13 #9 #15

Probably done best with JS, but we can do an \<embed> or \<iframe> like tfh once did

[2021-05-13 17:12] Shluffy commented on #16
Yea, I only know how to make html header which is hard to upkeep in the long run.

[2021-05-13 17:14] gosoccerboy5 commented on #16
They're not too hard to make

[2021-05-13 17:14] xItzDiamondx commented on #16
Footer is this:
`<footer class="my-amazing-footer><p>Your info here!</p></footer>"`

[2021-05-13 17:16] Shluffy commented on #16
We should also make a header.

[2021-05-13 17:16] Shluffy commented on #16
go for it if you want - we should definitley have a header and footer

[2021-05-13 17:17] Shluffy commented on #1
This is now done

[2021-05-13 17:17] #1 closed

[2021-05-13 17:18] #9 closed

[2021-05-13 17:22] xItzDiamondx commented on #16
Should the header be a navigation bar? I mean, I have one at
xItzDiamondx/Responsive-Web-Navigation-Bar (Not sure if the link will work)

On Thu, May 13, 2021 at 12:17 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-13 17:23] xItzDiamondx commented on #16
Of course it doesn't work. [Here.](https://github.com/xItzDiamondx/Responsive-Web-Navigation-Bar/)

[2021-05-13 17:33] gosoccerboy5 opened #18 "Feature Request: add a favicon"
**Feature**
we want a [favicon](https://en.wikipedia.org/wiki/Favicon)

**Additional context**
none

also, github automatically adds a favicon to pages I believe

[2021-05-13 18:41] Shluffy commented on #16
A nav bar? I think that might work

[2021-05-13 18:42] Shluffy opened #19 "Remove All of the bookmarklet js files"
now all in .json file, so not really needed

[2021-05-13 18:42] Shluffy commented on #19
@gosoccerboy5 would this work?

[2021-05-13 18:44] gosoccerboy5 commented on #19
I suppose gathering from the website works too. Sure, I'd be fine with that. Besides, we have git, so we can revert anytime.

[2021-05-13 18:46] Shluffy commented on #19
I will do that. Also, why are there random slashes in the .json file?

[2021-05-13 18:46] gosoccerboy5 opened #20 "Can I open a project?"
https://docs.github.com/en/github/managing-your-work-on-github/about-project-boards

I've never made a project or project board, but since we have ideas for multiple pages on the website, maybe it'd be best to organize all the webpage ideas into one project
@Shluffy

[2021-05-13 18:48] Shluffy commented on #20
go for it.

[2021-05-13 18:48] Shluffy commented on #20
I really should give you admin to the repo. I am doing that now

[2021-05-13 18:55] Shluffy opened #22 "Bug: Can Edit Text area"
**Describe the bug**
![image](https://user-images.githubusercontent.com/81823039/118173065-1aa33980-b3fb-11eb-9303-dc440a87bec1.png)

**To Reproduce**
change the text in the text area

**Expected behavior**

unchnageable

**Browser Information**

Google Chrome | 91.0.4472.33 (Official Build) beta (64-bit)
-- | --
Revision | 35d909982aeb034113732460de33d77009059efa-refs/branch-heads/4472@{#659}
Pla

[2021-05-13 18:58] gosoccerboy5 commented on #22
I would have made readonly="true", but I figured people might want to edit the bookmarklet to their liking before bookmarking it.
Go ahead and change that - no one's going to be able to edit the bookmarklet beforehand anyways because it automatically selects the text.

[2021-05-13 19:05] gosoccerboy5 commented on #20
[done](https://github.com/Scratch-Bookmarklets/Scratch-Bookmarklets.github.io/projects/1)

[2021-05-13 19:05] #20 closed

[2021-05-13 19:23] #19 closed

[2021-05-13 19:26] Shluffy commented on #22
We could leave it as a separate page. What do you think about that?

[2021-05-14 13:45] ZI-Youtuber commented on #18
@gosoccerboy5 Yeah I think it is a good idea to add a favion but you have to use some html code to put the favicon since github-pages doesn't automaically add it

[2021-05-14 14:23] xItzDiamondx commented on #18
We have to come up with an aesthetic icon, that icon should also be the org
pfp. I know the code for adding a favicon, but I'm not the best artist.
I'll look online for a logo maker.

On Fri, May 14, 2021 at 8:45 AM ZI Coder ***@***.***> wrote:

[2021-05-14 14:24] xItzDiamondx commented on #18
By the way, we also should have a email where people can contact us. All of
us should have access to it. I recommend ProtonMail. Also, in my website at
the footer I have some cool stuff like the footer, copyright, email, ans
stuff. Check it out.

On Fri, May 14, 2021 at 9:23 AM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-14 14:25] xItzDiamondx commented on #18
For the favicon (sorry for many messages) what is our catchphrase?

On Fri, May 14, 2021 at 9:24 AM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-14 14:35] xItzDiamondx commented on #18
I'm on it.

[2021-05-14 15:39] Shluffy opened #25 "What should the message at the top say?"
^

[2021-05-14 16:02] #22 closed

[2021-05-14 17:01] xItzDiamondx commented on #16
I'll start developing it.

[2021-05-14 17:08] xItzDiamondx commented on #18
https://vectr.com/tmp/b3miAu9oaz/a1e6B5S0EU.svg?width=640&height=640&select=a1e6B5S0EUpage0 How does this look @Shluffy @gosoccerboy5

[2021-05-14 17:10] xItzDiamondx commented on #18
![image](https://user-images.githubusercontent.com/81493936/118305315-644c5c80-b4ad-11eb-9cd3-4d06cc16c2db.png)

[2021-05-14 17:32] ZI-Youtuber opened #28 "Feature Request: Improve CSS"
I think we need to improve the design of the website it looks really dull and boring.

[2021-05-14 17:33] ZI-Youtuber commented on #25
@Shluffy Can you explain a bit more?

[2021-05-14 17:41] gosoccerboy5 commented on #18
Still gotta merge the actual favicon..

[2021-05-14 17:41] ZI-Youtuber commented on #14
@Shluffy me too

[2021-05-14 17:42] ZI-Youtuber commented on #18
@xItzDiamondx looks epic

[2021-05-14 17:42] #18 closed

[2021-05-14 18:02] ZI-Youtuber opened #30 "Copy all code from repo to main org's repo"
I need to copy the code for the webiste and put it on the main org repo so can you amke a seperate branch containging only the website code

[2021-05-14 18:05] xItzDiamondx commented on #30
What do you mean?

[2021-05-14 18:09] ZI-Youtuber commented on #30
@ZI-Youtuber make seate branch in repo for website code

[2021-05-14 18:14] ZI-Youtuber commented on #30
@Shluffy @gosoccerboy5 @xItzDiamondx
Oh wait this is the repo only for website not for the bookmarklets right?

[2021-05-14 18:17] xItzDiamondx commented on #30
@gosoccerboy5 and @Shluffy decided to put the bookmarklets in the site with
some JSON

On Fri, May 14, 2021 at 1:14 PM ZI Coder ***@***.***> wrote:

[2021-05-14 18:19] ZI-Youtuber commented on #30
@xItzDiamondx ok.

[2021-05-14 18:19] ZI-Youtuber commented on #30
@Scratch-Bookmarklets/whole-org Is there anyway I can copy this whole repo coding files and paste them on the  main repo on the main org?

[2021-05-14 18:20] xItzDiamondx opened #31 "Theme Colors"
Hey, I'm developing the site. What should our theme colors be? Orange and red?

[2021-05-14 18:21] ZI-Youtuber commented on #31
@xItzDiamondx you mean the main org one

[2021-05-14 18:21] xItzDiamondx commented on #31
This org.

[2021-05-14 18:21] ZI-Youtuber commented on #31
@xItzDiamondx the main org website?

[2021-05-14 18:21] xItzDiamondx commented on #31
Yes. This repo

[2021-05-14 18:22] ZI-Youtuber commented on #31
@xItzDiamondx no i'm talking about the Scratch Devs Team one

[2021-05-14 18:22] xItzDiamondx commented on #31
What about it.

[2021-05-14 18:22] ZI-Youtuber commented on #31
@xItzDiamondx Are you doing that as well?

[2021-05-14 18:22] xItzDiamondx commented on #31
Sure.

[2021-05-14 18:23] ZI-Youtuber commented on #31
@xItzDiamondx Orange and red sounds good for the Scratch Bookmarlets website

[2021-05-14 18:23] ZI-Youtuber commented on #31
ok

[2021-05-14 18:23] xItzDiamondx commented on #31
This shade?

[2021-05-14 18:23] ZI-Youtuber commented on #31
@xItzDiamondx what shade

[2021-05-14 18:23] xItzDiamondx commented on #31
![Screenshot 2021-05-14 1 23 34 PM](https://user-images.githubusercontent.com/81493936/118312848-9d89ca00-b4b7-11eb-81ad-ed08371e0138.png)
![Screenshot 2021-05-14 1 23 31 PM](https://user-images.githubusercontent.com/81493936/118312850-9e226080-b4b7-11eb-8d7c-d34254844b38.png)

[2021-05-14 18:24] xItzDiamondx commented on #31
They kind of don't work together.

[2021-05-14 18:24] ZI-Youtuber commented on #31
@xItzDiamondx Don't do blue do red

[2021-05-14 18:24] xItzDiamondx commented on #31
There is red and blue.

[2021-05-14 18:24] ZI-Youtuber commented on #31
@xItzDiamondx Orange and red because that how it looks like in the logo

[2021-05-14 18:24] xItzDiamondx commented on #31
ok

[2021-05-14 18:24] ZI-Youtuber commented on #31
@xItzDiamondx it will go well

[2021-05-14 18:24] ZI-Youtuber commented on #31
@xItzDiamondx 👍

[2021-05-14 18:25] xItzDiamondx commented on #31
These two?
![Screenshot 2021-05-14 1 25 30 PM](https://user-images.githubusercontent.com/81493936/118313058-e2adfc00-b4b7-11eb-96cd-7685d46d7df5.png)
![Screenshot 2021-05-14 1 25 28 PM](https://user-images.githubusercontent.com/81493936/118313059-e2adfc00-b4b7-11eb-92a3-41a09eeeb69f.png)

[2021-05-14 18:25] ZI-Youtuber commented on #31
@xItzDiamondx yep

[2021-05-14 18:26] xItzDiamondx commented on #31
Ok. I'm doing orange as the main and red as second.

[2021-05-14 18:26] ZI-Youtuber commented on #31
@Scratch-Bookmarklets/whole-org Wow this has been a busy day for me today working on github

[2021-05-14 18:26] ZI-Youtuber commented on #31
ok your choice if @Shluffy @gosoccerboy5 agrees

[2021-05-14 18:33] xItzDiamondx commented on #30
You can fork it.

On Fri, May 14, 2021 at 1:20 PM ZI Coder ***@***.***> wrote:

[2021-05-14 18:33] ZI-Youtuber opened #32 "Feature Request: Let people easily copy the javascript code"
**Feature**
I think people should be able to copy the code easily so there should be some way we could do it

**Additional context**
@xItzDiamondx @Shluffy @ZI-Youtuber @gosoccerboy5

[2021-05-14 18:35] ZI-Youtuber commented on #30
@xItzDiamondx But it wouldn't be even with the main repo that's the problem

[2021-05-14 18:36] gosoccerboy5 commented on #32
This is already essentially done. It autoselects the code

at least it did, before you guys changed everything while I was eating lunch

[2021-05-14 18:36] ZI-Youtuber commented on #31
@xItzDiamondx Remeber to do it orange and red

[2021-05-14 18:37] ZI-Youtuber commented on #32
@gosoccerboy5 oh ok but @xItzDiamondx chnaged the whole lot 😒

[2021-05-14 18:37] ZI-Youtuber commented on #32
@gosoccerboy5 like right  now

[2021-05-14 18:40] gosoccerboy5 commented on #32
Great. Just when I was settling in.

[2021-05-14 18:41] ZI-Youtuber commented on #32
@gosoccerboy5 😆

[2021-05-14 18:52] gosoccerboy5 opened #33 "reminder"
Please, don't push excessive commits to this repo. INSTEAD, please work locally on your fork, and when you have enough commits on a branch, _then_ you make a pull request.
Also, make sure something is approved until merging a PR.

Otherwise, we end up with a constantly broken site with a bunch of merge conflicts and difficulty making large changes.

Thanks.

[2021-05-14 19:05] xItzDiamondx commented on #32
I was thinking we could put it on the Projects page and make buttons that
would copy it along with some fancy CSS.

On Fri, May 14, 2021 at 1:42 PM ZI Coder ***@***.***> wrote:

[2021-05-14 19:37] Shluffy commented on #31
i think those are good

[2021-05-14 19:38] Shluffy commented on #25
rather then the hello thing

[2021-05-14 19:39] Shluffy commented on #32
we should add buttons to copy the code

[2021-05-14 19:42] xItzDiamondx commented on #25
You'll see when I'm done ;)

On Fri, May 14, 2021 at 2:39 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-14 19:43] xItzDiamondx commented on #32
Exactly

On Fri, May 14, 2021 at 2:40 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-14 20:16] ZI-Youtuber commented on #32
@xItzDiamondx @Shluffy yep

[2021-05-14 20:16] ZI-Youtuber commented on #31
@Shluffy yeah

[2021-05-14 20:17] ZI-Youtuber opened #34 "Feature Request: Put contribters side by side"
Make the contributers smaller an put them side by side

[2021-05-14 20:18] gosoccerboy5 commented on #32
The thing is,
a) it's easy to copy the code if it autoselects
b) the main purpose of this is for bookmarklets, so all you need to do is select the code without having to copy it

[2021-05-14 20:19] ZI-Youtuber opened #35 "What do you mean by Organization Wide Developer"
It says that I am an Organization Wide Developer in the contributers section I just wanted to know what it means

[2021-05-14 20:20] xItzDiamondx commented on #32
Look: [W3 Schools](https://www.w3schools.com/howto/howto_js_copy_clipboard.asp)

[2021-05-14 20:20] xItzDiamondx commented on #32
We could do that but without the input box.

[2021-05-14 20:20] xItzDiamondx commented on #32
I'll start on it.

[2021-05-14 20:21] xItzDiamondx commented on #32
I'll close it for now.

[2021-05-14 20:21] #32 closed

[2021-05-14 20:29] ZI-Youtuber opened #37 "logo"
@Shluffy Put the logo that @xItzDiamondx made and put it as the logo of this org

@xItzDiamondx Can you make a logo for the Scratch Devs Team

[2021-05-14 20:48] xItzDiamondx commented on #34
I'll try

On Fri, May 14, 2021 at 3:17 PM ZI Coder ***@***.***> wrote:

[2021-05-14 20:49] xItzDiamondx commented on #32
I'm working on it right now on my test @NotDiamondZ

On Fri, May 14, 2021 at 3:18 PM gosoccerboy5 ***@***.***>
wrote:

[2021-05-14 20:49] xItzDiamondx commented on #35
Dunno. Ask @Shluffy for some ranks.

On Fri, May 14, 2021 at 3:19 PM ZI Coder ***@***.***> wrote:

[2021-05-14 20:49] xItzDiamondx commented on #37
sure

On Fri, May 14, 2021 at 3:30 PM ZI Coder ***@***.***> wrote:

[2021-05-14 20:49] ZI-Youtuber commented on #35
@xItzDiamondx Shluffy thought of this?

[2021-05-14 20:49] ZI-Youtuber commented on #35
@xItzDiamondx the rank?

[2021-05-14 20:50] ZI-Youtuber commented on #34
@xItzDiamondx ok

[2021-05-14 20:50] ZI-Youtuber commented on #37
@xItzDiamondx thanks

[2021-05-14 20:51] ZI-Youtuber commented on #35
@Shluffy Do you know what it means by Organization Wide Developer?

[2021-05-14 20:56] xItzDiamondx commented on #35
No, I thought of it. This isn't related to the website, so it will be closed.

[2021-05-14 20:56] #35 closed

[2021-05-14 20:58] xItzDiamondx commented on #33
Okay sorry.

[2021-05-14 20:58] #34 closed

[2021-05-14 21:01] xItzDiamondx commented on #34
It requires CSS and because the README is markdown, it is just impossible.
They support HTML, but not CSS for some reason. That is why I'm closing
this.

On Fri, May 14, 2021 at 3:50 PM ZI Coder ***@***.***> wrote:

[2021-05-14 21:09] xItzDiamondx commented on #31
I'm closing it for now. I'll make a PR with the rest of my changes later.

[2021-05-14 21:09] #31 closed

[2021-05-14 21:09] xItzDiamondx commented on #28
Has been fixed. Will be updated.

[2021-05-14 21:10] xItzDiamondx commented on #16
I'll close this because it has been added into the site.

[2021-05-14 21:10] #16 closed

[2021-05-15 11:44] ZI-Youtuber commented on #33
@gosoccerboy5 ok

[2021-05-15 13:34] #37 closed

[2021-05-15 13:34] xItzDiamondx commented on #37
This isn't really a problem, so I'm closing.

[2021-05-15 13:35] ZI-Youtuber opened #38 "Should I delete main org?"
I think I should delte the main org so @Shluffy you can remove the part about the Scratch Devs Team.

If anyone agrees pls tell me here.

@Shluffy Update the logo of the org to the one @xItzDiamondx made

[2021-05-15 13:36] gosoccerboy5 commented on #33
Its fine, I shouldnt have been so frustrated

[2021-05-15 13:49] ZI-Youtuber commented on #33
@gosoccerboy5 😄

[2021-05-15 13:49] ZI-Youtuber commented on #28
@xItzDiamondx ok

[2021-05-15 13:49] #28 closed

[2021-05-15 14:12] xItzDiamondx commented on #38
Dunno. Your choice.

On Sat, May 15, 2021 at 8:35 AM ZI Coder ***@***.***> wrote:

[2021-05-15 15:28] #13 closed

[2021-05-15 15:28] ZI-Youtuber commented on #38
@xItzDiamondx let's wait for a reply from @Shluffy @gosoccerboy5

[2021-05-15 20:34] #33 closed

[2021-05-15 20:52] xItzDiamondx commented on #25
Solved in the latest update.

[2021-05-15 20:52] #25 closed

[2021-05-15 21:14] xItzDiamondx commented on #30
This is how to update it:

https://user-images.githubusercontent.com/81493936/118378314-98e91280-b598-11eb-9d31-78713bdabff6.mp4
Recorded on OBS Studio for MacOS

[2021-05-16 11:45] #30 closed

[2021-05-16 11:46] ZI-Youtuber commented on #30
@xItzDiamondx I know hoe to do that but I was saying without forking it

[2021-05-16 12:39] Shluffy opened #41 "Reminder 2.0 and 3.0 and 4.0"
2.0:
If there is a review pending, please don't merge. Either me or @gosoccerboy5 should approve before merging - possibly both.
Just request review.
cc @ZI-Youtuber @xItzDiamondx

3.0:
please don't assign everybody. Assign someone to see it from the templates, and then the only person assigned should be the one who will be fixing it.

4.0:
please do all of your commits in prs on your fork - I am

[2021-05-16 12:40] Shluffy commented on #15
done. github didn't close it for some reason.

[2021-05-16 12:40] #15 closed

[2021-05-16 12:41] Shluffy commented on #41
like #39

[2021-05-16 12:43] Shluffy commented on #38
and the close this? sure - nothing is going on their

[2021-05-16 12:45] Shluffy commented on #38
i see you done

[2021-05-16 12:45] #38 closed

[2021-05-16 12:45] Shluffy commented on #34
let's please not assign everyone.

[2021-05-16 12:49] Shluffy commented on #14
I will change the templates

[2021-05-16 15:05] gosoccerboy5 commented on #41
You might be able to edit my reminder 1.0

[2021-05-16 18:01] Shluffy commented on #41
@ZI-Youtuber and @gosoccerboy5 and @xItzDiamondx please see reminder 4.0

[2021-05-16 18:34] ZI-Youtuber commented on #41
@Shluffy ok

[2021-05-16 18:35] Shluffy opened #43 "Bug: site not loading"
github is saying the site is nonexistent.
@gosoccerboy5 can you look into this.

[2021-05-16 18:36] ZI-Youtuber commented on #43
@Shluffy yeah this has happened before to my websites on github. I will check it out

[2021-05-16 18:38] ZI-Youtuber commented on #43
@Shluffy Maybe check the pages section on settings and see what url github put on

[2021-05-16 18:39] ZI-Youtuber opened #45 "Write Access"
Can I have write acess pls?

[2021-05-16 18:39] Shluffy opened #46 "recent changes"
@ZI-Youtuber why did you make the changes recently? can you pls make a pr to revert that and then make a pr to do those changes with an explanation of why as well.

[2021-05-16 18:40] Shluffy commented on #45
no. see #46 before I will give you write access, as well as #41

[2021-05-16 18:40] #45 closed

[2021-05-16 18:44] ZI-Youtuber commented on #46
@ZI-Youtuber just merged pull requests thats all and some chnages to code

[2021-05-16 18:45] Shluffy commented on #46
so the code changes were not approved. Pls undo that and then make a pr using the template to get it possibly added.

[2021-05-16 19:01] Shluffy commented on #43
@ZI-Youtuber https://scratch-bookmarklets.github.io/

[2021-05-16 20:14] xItzDiamondx commented on #41
@Zi-YouTuber did that, not me. I requested for a review but he merged.

On Sun, May 16, 2021 at 7:41 AM ShluffyMonster ***@***.***>
wrote:

[2021-05-16 20:16] xItzDiamondx commented on #43
I'll look into it. Weird.

On Sun, May 16, 2021 at 2:01 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-16 21:12] xItzDiamondx commented on #43
It's back up.

[2021-05-16 21:12] #43 closed

[2021-05-16 23:46] Shluffy opened #48 "Feature Request: link the contributers github"
**Feature**
link the contributers github.

**Additional context**
possibly also link scratch.

[2021-05-16 23:48] Shluffy opened #49 "Feature Request: Read Download Visual Studio Code"
on multiple pages.
@xItzDiamondx you seem to have started, are you able to do it all in 1 pr

[2021-05-17 01:01] xItzDiamondx commented on #49
What do you mean? Please describe more.

[2021-05-17 12:44] xItzDiamondx commented on #48
Link who's Scratch? Like a studio or just a user?

[2021-05-19 01:00] Shluffy commented on #48
user

[2021-05-19 01:01] Shluffy commented on #49
@ZI-Youtuber seemed to have removed that on multiple pages. #46 is there and hasn't been fixed yet

[2021-05-19 01:39] xItzDiamondx commented on #48
Who?

[2021-05-19 01:41] xItzDiamondx commented on #49
The VS Code logo? That's because I'm developing it on VS Code. I'll revert it then PR it.

[2021-05-19 01:47] xItzDiamondx commented on #49
I can't seem to revert it, can you?

[2021-05-19 12:11] Shluffy commented on #49
no. it has to be done manually. @ZI-Youtuber this is a job for you to fix

[2021-05-19 13:20] xItzDiamondx commented on #49
K

On Wed, May 19, 2021 at 7:11 AM ShluffyMonster ***@***.***>
wrote:

[2021-05-19 15:04] #14 closed

[2021-05-19 15:05] Shluffy commented on #49
@ZI-Youtuber left the org so I will have to do this

[2021-05-19 15:05] Shluffy commented on #48
the contributer. and there github

[2021-05-19 15:06] #41 closed

[2021-05-19 15:09] Shluffy opened #50 "Bug: home bar nav link redirects to xltzdiamond's forks page"
do you want to do this @xItzDiamondx

[2021-05-19 15:10] Shluffy commented on #49
I can't figure out where and what commits

[2021-05-19 15:10] Shluffy commented on #49
will leave as is.

[2021-05-19 15:10] #49 closed

[2021-05-19 15:12] xItzDiamondx commented on #48
It's for the source code. Not the user. Your choice though.

On Wed, May 19, 2021 at 10:06 AM ShluffyMonster ***@***.***>
wrote:

[2021-05-19 15:12] xItzDiamondx commented on #50
It does?

[2021-05-19 15:12] xItzDiamondx commented on #50
I'll test it

[2021-05-19 15:14] Shluffy commented on #50
the code in index.html says so

[2021-05-19 15:26] xItzDiamondx commented on #50
Fixed.

[2021-05-19 15:26] #50 closed

[2021-05-19 18:02] Shluffy commented on #50
@xItzDiamondx pls use a pr to do this in the future

[2021-05-19 18:16] xItzDiamondx commented on #50
If I do it in a PR, then it will mess up my copy.

On Wed, May 19, 2021 at 1:02 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-20 16:26] Shluffy opened #53 "Feature Request: alert user if they have clicked a scratch bookmarklet not on scratch"
**Feature**
alert user if they have clicked a scratch bookmarklet not on scratch

[2021-05-20 16:40] xItzDiamondx commented on #53
good idea

[2021-05-23 18:11] Shluffy commented on #46
@ZI-Youtuber basically said no.
![Screenshot 2021-05-23 2 10 32 PM](https://user-images.githubusercontent.com/81823039/119271717-af165480-bbd0-11eb-912e-a2d15847ce11.png)
@xItzDiamondx

[2021-05-24 05:47] FunctionalMetatable opened #58 "Feature Request: add the all-contributors app to this repo"
**Feature**
Add the all-contributors app to the repo so we can easily add contributors to the readme

[2021-05-24 10:42] Shluffy commented on #58
what app is this? I have only been on github for a month

[2021-05-24 10:44] Shluffy commented on #53
more to this, how would we check the `/projects/*/editor/` for the display stage on left side

[2021-05-24 12:56] xItzDiamondx commented on #58
This repo?

[2021-05-24 12:56] xItzDiamondx commented on #58
I've requested to install it

On Mon, May 24, 2021 at 7:56 AM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-24 13:14] Shluffy commented on #58
This has been installed. @FunctionalMetatable is there any more setup? if so, can you please do that. Also, do you want to be part of the org or have read/write access to this repo?

[2021-05-24 13:15] Shluffy commented on #53
I'm gonna do the `parser.hostname` without the rest.

[2021-05-24 13:17] xItzDiamondx commented on #58
You may get read/write access because you have been PRing and it is mostly
getting approved.

On Mon, May 24, 2021 at 8:14 AM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 14:06] xItzDiamondx commented on #53
OK.

On Mon, May 24, 2021 at 8:15 AM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 16:15] Shluffy commented on #58
@all-contributors please add @Shluffy for being "alive"

[2021-05-24 16:16] Shluffy commented on #58
@all-contributors please add @FunctionalMetatable for bookmarklets

[2021-05-24 16:17] Shluffy commented on #58
@all-contributors please add @FunctionalMetatable for code

[2021-05-24 16:23] Shluffy opened #62 "Request contributors to be added by all-contributors"
note that everything will get reviewed before being added. Feel free to ask the bot to add someone.

How to request someone:
comment this call code: `@all-contributors please add @<contributor> for <reason>`.
Replace `<contributor>` with the contributor to be added and `<reason>` with the reason they should be added.
You can add multiple reasons separated with a comma (`,`).

List of reasons:

- C

[2021-05-24 16:24] Shluffy commented on #62
@all-contributors please add @Shluffy for Tests

[2021-05-24 16:33] Shluffy commented on #62
@all-contributors please add @Shluffy for code

[2021-05-24 16:45] FunctionalMetatable commented on #62
@all-contributors please add @FunctionalMetatable for code, test

[2021-05-24 16:45] FunctionalMetatable commented on #58
please could i have read/write access to this repo?

[2021-05-24 16:52] Shluffy commented on #62
@all-contributors please add @xItzDiamondx  for design

[2021-05-24 16:54] Shluffy commented on #62
@all-contributors please add @<contributor> for design, Infrastructure, Bug Reports, Ideas, Planning, & Feedback

[2021-05-24 16:54] Shluffy commented on #62
@all-contributors please add @Shluffy for design, Infrastructure, Bug Reports, Ideas, Planning, & Feedback

[2021-05-24 16:55] Shluffy commented on #62
@all-contributors please add @gosoccerboy5 for design, Infrastructure, Bug Reports, Ideas, Planning, & Feedback, Code, Tests

[2021-05-24 16:55] Shluffy commented on #62
@all-contributors please add @xItzDiamondx for design, Infrastructure, Bug Reports, Ideas, Planning, & Feedback, Code, Tests

[2021-05-24 16:56] Shluffy commented on #62
@all-contributors please add @allcontributors for documentation

[2021-05-24 16:56] Shluffy commented on #62
@all-contributors please add @all-contributors for documentation

[2021-05-24 17:00] Shluffy commented on #62
@all-contributors please add @gosoccerboy5 for design, Infrastructure, Bug Reports, Ideas, Planning, & Feedback, Code, Tests

[2021-05-24 17:03] Shluffy commented on #58
yes.
if you want to, pls fill this out:
Do you want to be a codeowner on anything?
Do you want to be assigned to bug reports or feature requests?
Do you want to join the org?

/cc @brourbeinsus @xItzDiamondx @gosoccerboy5 feel free to fill this out to be added

[2021-05-24 17:05] Shluffy commented on #62
@all-contributors please add @all-contributors for documentation

[2021-05-24 17:06] FunctionalMetatable commented on #58
1. maybe the .github files (i need to fix something there)
2. no thanks
3. no thanks im good
also, thanks for inviting!

[2021-05-24 17:10] Shluffy opened #72 "test"
just related to current test branch

[2021-05-24 17:11] Shluffy commented on #72
@all-contributors please remove @Shluffy for tests

[2021-05-24 17:11] Shluffy commented on #72
@all-contributors please add @Shluffy for documentation

[2021-05-24 17:12] Shluffy commented on #58
feel free to open a pr to add yourself then!

[2021-05-24 17:16] xItzDiamondx commented on #62
@all-contributors please add @xItzDiamondx for content, code, design, bug reports, test

[2021-05-24 17:19] Shluffy commented on #58
done

[2021-05-24 17:19] #58 closed

[2021-05-24 17:25] #72 closed

[2021-05-24 17:28] Shluffy opened #77 "anyone know how to request something to be removed"
for all-contributors

[2021-05-24 17:30] Shluffy commented on #62
@all-contributors please add @Shluffy for content

[2021-05-24 17:30] Shluffy commented on #62
@all-contributors please add @gosoccerboy5 for content

[2021-05-24 17:32] Shluffy commented on #77
also are there any possible things to be added that i missed (like at first I missed content)
@FunctionalMetatable

[2021-05-24 17:33] FunctionalMetatable commented on #77
[heres all the possible contributions](https://allcontributors.org/docs/en/emoji-key). you cannot request something to be removed, but you can manually remove it

[2021-05-24 17:42] #77 closed

[2021-05-24 17:47] xItzDiamondx commented on #62
@all-contributors please add @brourbeinsus for code, test, bug reports

[2021-05-24 17:47] Shluffy commented on #62
@all-contributors please add @FunctionalMetatable for Answering Questions

[2021-05-24 17:50] Shluffy commented on #58
@FunctionalMetatable this is SO useful

[2021-05-24 17:51] FunctionalMetatable commented on #58
very confusing as well lol

[2021-05-24 17:54] Shluffy opened #85 "all-contributors data"
manual changes to the data.

[2021-05-24 17:57] #46 closed

[2021-05-24 17:58] #48 closed

[2021-05-24 18:05] Shluffy commented on #62
@all-contributors please add @FunctionalMetatable for Infrastructure (on the backend)

[2021-05-24 18:07] Shluffy commented on #85
remove brourbeinsus bug report

[2021-05-24 18:33] Shluffy commented on #85
remove brourbeinsus bug report
Change @Shluffy's site to `http://github.com/shluffy`
Change name `ShluffyMonster` to `Shluffy`

[2021-05-24 18:37] Shluffy commented on #62
@all-contributors please add @gosoccerboy5  for Infrastructure - the original bookmarklets.json

[2021-05-24 18:39] #85 closed

[2021-05-24 18:43] xItzDiamondx opened #92 "Question: Should we get a domain name?"
**Describe the question**

Hey, so when I scroll to the bottom of TurboWarp's website, I see that they got their domain from FossHost. I did some research. I've tried to apply twice, only one time it was succesful. I wanted to ask if I should get a domain for us?
**What can be done?**

Answer if we should get a domain or not.
**Additional Context**

<a href="https://fosshost.org" alt="Fosshost">Fo

[2021-05-24 18:43] xItzDiamondx commented on #92
cc @FunctionalMetatable @Shluffy

[2021-05-24 18:52] FunctionalMetatable commented on #92
did you actually get a domain from them already?

[2021-05-24 18:55] Shluffy commented on #92
I'd say start with `scratch-bookmarklets` and end with `.com`, `.org`, or `.net`

[2021-05-24 18:57] xItzDiamondx commented on #92
Did I? Not yet, but they still seem to be processing. When I first applied,
I got a response in 4 days saying it was unsuccessful. This time, it's been
going on for a while. I applied on the 27th, and they are still processing
my application. They asked me if I had contributed to other things, I said
yeah, and said that I had contributed
to @Bijou-js/Bijou.js, @ScratchAddons/ScratchAddons, and thi

[2021-05-24 18:57] xItzDiamondx commented on #92
Here is the screenshot of the email.

[2021-05-24 19:05] xItzDiamondx commented on #92
https://user-images.githubusercontent.com/81493936/119395455-23b4c600-bc99-11eb-8261-2be2a5761978.mp4

[2021-05-24 19:09] Shluffy commented on #92
so for now we should wait?

[2021-05-24 19:10] xItzDiamondx commented on #92
That was mine. Should we apply? That's what I am asking.

On Mon, May 24, 2021 at 2:09 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 19:11] xItzDiamondx commented on #92
You can apply by urself here fosshost.org/apply but i'll do it.

On Mon, May 24, 2021 at 2:10 PM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-24 19:16] Shluffy commented on #92
yes.

[2021-05-24 19:21] Shluffy commented on #92
could u do that

On Mon, May 24, 2021 at 3:16 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 19:34] xItzDiamondx commented on #92
ight

On Mon, May 24, 2021 at 2:22 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 19:36] xItzDiamondx commented on #92
Which do you prefer @Shluffy?

AArch64 Virtual Private Server
Domain Name Services
Mirrors-as-a-service
Email and Web Hosting
Audio and Video Conferencing

On Mon, May 24, 2021 at 2:34 PM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-24 19:36] xItzDiamondx commented on #92
I think domain.

On Mon, May 24, 2021 at 2:36 PM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-24 20:00] xItzDiamondx commented on #92
Submitted.

On Mon, May 24, 2021 at 2:36 PM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-24 20:03] gosoccerboy5 opened #95 "Bug: Header blocks content"
**Describe the bug**

The header. Blocks the content from being seen.
visual aid:
<img width="650" alt="Screen Shot 2021-05-24 at 3 01 51 PM" src="https://user-images.githubusercontent.com/82768218/119401411-10a5f400-bca1-11eb-870c-640344b10dcb.png">

**To Reproduce**

Go to [here](https://scratch-bookmarklets.github.io/bookmarklets.html) and feel the PAIN

**Expected behavior**

i should see the

[2021-05-24 20:05] gosoccerboy5 commented on #95
Also, if you open your browser's devtools, the header shrinks. lol

[2021-05-24 20:08] Shluffy commented on #95
@xItzDiamondx does the header

[2021-05-24 20:20] xItzDiamondx commented on #95
Add 4 <br> before the content.

On Mon, May 24, 2021 at 3:08 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-24 20:23] xItzDiamondx commented on #92
I'll close until they reply.

[2021-05-24 20:23] #92 closed

[2021-05-24 20:37] Shluffy commented on #62
@all-contributors please add @xItzDiamondx for infra

[2021-05-24 20:40] Shluffy commented on #62
@all-contributors please add @ZI-Youtuber for Code

[2021-05-24 20:41] Shluffy commented on #62
@all-contributors please add @ZI-Youtuber for Code, tests, bug reports, documentation

[2021-05-24 21:23] xItzDiamondx commented on #62
I think instead of a issue, it should be a discussion.

[2021-05-24 21:25] Shluffy commented on #62
@xItzDiamondx @all-contributors bot will not respond if it is done in a discussion, see https://github.com/Scratch-Bookmarklets/Scratch-Bookmarklets.github.io/discussions/80#discussioncomment-777832

[2021-05-24 21:27] Shluffy commented on #62
lol

[2021-05-24 21:34] Shluffy opened #102 "Question: Will all-contributors respond if the convesations is locked?"

[2021-05-24 21:34] Shluffy commented on #102
@all-contributors please add @<contributor> for <reason>

[2021-05-24 21:35] Shluffy commented on #102
@all-contributors please add @Shluffy for infra

[2021-05-24 21:35] Shluffy commented on #62
@all-contributors please add @Scratch-Bookmarklets/ for code

[2021-05-24 21:35] Shluffy commented on #62
@all-contributors please add @Scratch-Bookmarklets for code

[2021-05-24 21:36] Shluffy commented on #102
@all-contributors please add @Scratch-Bookmarklets for code

[2021-05-24 21:38] #102 closed

[2021-05-24 21:38] Shluffy commented on #62
@all-contributors please add @Scratch-Bookmarklets/whole-org for code

[2021-05-24 21:40] Shluffy opened #105 "Request contributors to be added by all-contributors (2)"
Issue 1: #62
note that everything will get reviewed before being added. Feel free to ask the bot to add someone.

How to request someone:
comment this call code: `@all-contributors please add @<contributor> for <reason>`.
Replace `<contributor>` with the contributor to be added and `<reason>` with the reason they should be added.
You can add multiple reasons separated with a comma (`,`).

List of

[2021-05-24 21:40] Shluffy commented on #62
now with 55 comments, this has been moved to #105

[2021-05-24 21:40] #62 closed

[2021-05-24 22:22] xItzDiamondx commented on #105
K

[2021-05-24 22:22] xItzDiamondx commented on #105
@all-contributors please add @xItzDiamondx for Design, Content, Infra, Maintenance, Bug Reports, Tests, Code.

[2021-05-24 22:58] Shluffy commented on #105
@all-contributors please add @Shluffy for Maintenance, project Management

[2021-05-25 13:19] Shluffy opened #113 "Bug: Wrong Address"
**Describe the bug**
if you type `http://scratch-bookmarklets.gihub.io/` or `https://scratch-bookmarklets.gihub.io/` it redirects to `http://www1.gihub.io/?tm=1&subid4=1621948496.0043001679&KW1=Dedicated%20Server%20New%20Jersey&KW2=Dedicated%20Server%20North%20America&KW3=Dedicated%20Server%20Asia&KW4=Dedicated%20Server%20Europe&searchbox=0&domainname=0&backfill=0`

**To Reproduce**
type `http://s

[2021-05-25 13:21] gosoccerboy5 commented on #113
what can we do about it..? just wondering, because this seems out of my power

[2021-05-25 13:22] xItzDiamondx commented on #113
The issue is that you are saying GiHub. There is no t. It's supposed to be `http://scratch-bookmarklets.github.io/`

[2021-05-25 13:23] xItzDiamondx commented on #113
Just a simple mistake

[2021-05-25 13:29] gosoccerboy5 commented on #113
They're probably referring to the possibility of someone making a spelling mistake.
@Shluffy, was it a mistake on your part, or are you referring to the possibility of someone making a spelling mistake?

[2021-05-25 13:32] Shluffy commented on #113
both

On Tue, May 25, 2021 at 9:29 AM gosoccerboy5 ***@***.***>
wrote:

[2021-05-25 13:55] xItzDiamondx commented on #113
It's just a simple misspelling.

[2021-05-25 15:04] FunctionalMetatable commented on #113
Misspelling of github.

[2021-05-25 15:14] Shluffy commented on #105
@all-contributors please add @Shluffy for tests

[2021-05-25 15:18] Shluffy commented on #95
Still is there.
![Screenshot 2021-05-25 11 17 35 AM](https://user-images.githubusercontent.com/81823039/119523547-d8f38680-bd4a-11eb-8422-4ed6a08bc698.png)
and it is on the contributors page
![image](https://user-images.githubusercontent.com/81823039/119523607-e577df00-bd4a-11eb-8677-825503f67631.png)

[2021-05-25 15:19] Shluffy opened #117 "Bug: header does not contain link to bookmarklets"

[2021-05-25 15:58] xItzDiamondx commented on #117
I know. It'll be on the projects page.

[2021-05-25 15:58] #117 closed

[2021-05-25 16:11] gosoccerboy5 commented on #113
There is the chance of someone misspelling the url and becoming very confused.

[2021-05-25 16:20] xItzDiamondx commented on #113
we could make a bit.ly

On Tue, May 25, 2021 at 11:11 AM gosoccerboy5 ***@***.***>
wrote:

[2021-05-25 16:24] xItzDiamondx commented on #113
http://bit.ly/ScratchBookmarklets

On Tue, May 25, 2021 at 11:19 AM Andargachew, Zekaryas <
***@***.***> wrote:

[2021-05-25 17:14] #113 closed

[2021-05-25 20:04] Shluffy opened #121 "Question: should we remove @zi-youtuber"
^

[2021-05-25 20:19] Shluffy commented on #121
for now will leave this open - may remove or close later

[2021-05-25 20:33] xItzDiamondx commented on #95
You didn't add any breaks, that's why.

[2021-05-25 21:00] Shluffy commented on #95
you closed this so it seemed as if you did it.

[2021-05-25 21:29] xItzDiamondx commented on #95
I added it now. Please close.

On Tue, May 25, 2021 at 4:01 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-25 21:57] Shluffy commented on #95
@xItzDiamondx that was on your fork. and was done where it may confuse the all-contribs  bot i will do this.

[2021-05-26 00:39] xItzDiamondx commented on #95
In that case, the new PR I put up fixes it.

On Tue, May 25, 2021 at 4:58 PM ShluffyMonster ***@***.***>
wrote:

[2021-05-26 16:52] Shluffy commented on #121
I'm gonna go for a no because he did contribute

[2021-05-26 16:52] #121 closed

[2021-05-26 17:46] #95 closed

[2021-05-28 12:51] Shluffy opened #135 "Question: is it possible to run prettier on commits"
^. @FunctionalMetatable

[2021-05-28 14:58] FunctionalMetatable commented on #135
After a commit is made we cannot change it so we make a new commit to run it through prettier

[2021-05-28 15:01] FunctionalMetatable commented on #135
wdym?

[2021-05-28 15:14] FunctionalMetatable commented on #135
do you mean running prettier on push and not making another commit to format the code? it doesn't look like this is possible

[2021-05-28 15:28] Shluffy commented on #135
okay, ty

[2021-05-28 15:28] #135 closed

[2021-05-30 15:20] ZI-Youtuber opened #142 "Bug: My contribution box is narrow on the readme.md"
**Describe the bug**

My part of contributions is narrow

**Additional context**

Maybe just put me in the next row

[2021-05-30 15:23] Shluffy commented on #142
this is because of the contributors per line set at 7. feel free to make a pr to change that

[2021-05-30 15:24] ZI-Youtuber commented on #142
@Shluffy I don't know how to do that. Isn't it possible to put me in the next row?

[2021-05-30 15:26] ZI-Youtuber commented on #105
@all-contributors please add @ZI-Youtuber for Helping, Bug Reporter, Code , Documentation , Tests

[2021-05-30 15:28] ZI-Youtuber commented on #105
@all-contributors please add @ZI-Youtuber  for Bug Reporter, Code , Documentation , Tests , Talk

[2021-05-30 16:01] Shluffy commented on #142
@FunctionalMetatable Would we have to manually change the rows when we change contribs per line.
@ZI-Youtuber are you on mobile? this could be screen size

[2021-05-30 16:31] FunctionalMetatable commented on #142
@all-contributors please add @gosoccerboy5 for feedback

[2021-05-30 16:31] FunctionalMetatable commented on #142
@all-contributors please add @gosoccerboy5 for content

[2021-05-30 16:32] FunctionalMetatable commented on #142
okay lets try something else add @brourbeinsus for data @all-contributors

[2021-05-30 16:33] FunctionalMetatable commented on #142
@all-contributors add @brourbeinsus for data

[2021-05-30 16:35] FunctionalMetatable commented on #142
Fixed in https://github.com/Scratch-Bookmarklets/Scratch-Bookmarklets.github.io/commit/96717562d48b8237eef2b5bc8aa59d6287269fd8

[2021-05-30 16:35] #142 closed

[2021-06-01 14:47] ZI-Youtuber opened #146 "Bug: New Issue with recent update to mergify.yml by Shluffy"
**Describe the bug**

![image](https://user-images.githubusercontent.com/82158378/120343042-4590f700-c2f0-11eb-8eb8-3c51d9d1f4b1.png)

Showed a cross meaning not all checks were passed and there was an error with one check

![image](https://user-images.githubusercontent.com/82158378/120343202-6d805a80-c2f0-11eb-84c3-8183979ee0a8.png)

![image](https://user-images.githubusercontent.com/82158378/120

[2021-06-01 15:05] Shluffy commented on #146
I am aware that mergify is currently not working perfectly and am looking into it.

[2021-06-01 16:20] Shluffy commented on #53
i backlogged this. not being worked on, maybe will work on if i have time

[2021-06-01 16:46] ZI-Youtuber commented on #146
@Shluffy ok

[2021-06-01 16:47] ZI-Youtuber commented on #146
@Shluffy Is there anything I can help with this issue and mergify

[2021-06-01 18:29] ZI-Youtuber commented on #142
@FunctionalMetatable thanks

[2021-06-02 18:11] Shluffy opened #147 "Feature Request: Use the wiki page for this repository"
**Feature**

use the wiki page

[2021-06-02 18:11] Shluffy commented on #147
unless should we put it on our website like scratch addons does?

[2021-06-02 18:12] Shluffy opened #148 "Getting a domain and hosting from Fosshost"
@xItzDiamondx have you gotten a response from fosshost about a domain?

[2021-06-02 19:10] Shluffy commented on #147
I will work on putting the wiki onto a branch on my fork. Note that if we would update the actual in repo wiki it will likely not update forks.

[2021-06-02 20:30] Shluffy opened #149 "delete `redo-bookmarklet-system` branch"
kinda useless. No work is being done on it

[2021-06-02 20:37] #149 closed

[2021-06-03 12:42] Shluffy opened #150 "Feature Request: add a `contributing.md` file (contributing guidelines)"

[2021-06-03 13:37] ZI-Youtuber commented on #147
@Shluffy I'm making wiki as well for my own project so what you can do is make a serperate repository and when you enable the github pages chnage the /root to /docs and choose a thememe and then all you have to do is go to the coding files and go to docs file and just go to the readme.md and start writing and you will have to make each section with ## to make it a section on readme.md

[2021-06-03 13:54] Shluffy commented on #147
would that include everything else? i think keeping it all in 1 repo is good

[2021-06-03 15:51] Shluffy opened #152 "add a `blank.md` template and new bookmarklet template"

[2021-06-03 15:52] Shluffy opened #153 "change mergify configuration to just listen for commands"
mergify configuration is bad, so I think we should just delete the whole config file and then use the command `@mergifyio update` to update branches, a handy thing.

[2021-06-03 15:53] Shluffy commented on #153
th
oughts?

[2021-06-03 15:53] Shluffy commented on #153
whoops

[2021-06-03 15:55] Shluffy opened #154 "Feature Request: change/remove message at the top of the bookmarklets page."
see #25 - still the same though

[2021-06-03 15:59] Shluffy commented on #153
i have a branch that fixes this

[2021-06-04 12:35] #150 closed

[2021-06-04 14:58] ZI-Youtuber commented on #147
@Shluffy Sadly it won't include everthing else but you can add a link to the main website. And if you put it in one repo it will not work

[2021-06-04 15:01] ZI-Youtuber commented on #147
so you will have to make a separate repo. If you want I can be a good help for the wiki if you make a new repo and add me as a maintainer in it so I can configure everything quickly @Shluffy

[2021-06-04 15:09] ZI-Youtuber commented on #105
@all-contributors please add @ZI-Youtuber for Bug Reporter, Code , Documentation , Tests, research, review, Ideas, Planning, & Feedback

[2021-06-04 16:53] Shluffy commented on #147
putting the wiki in this repo should work? why wouldn't it @ZI-Youtuber

[2021-06-04 18:35] ZI-Youtuber commented on #147
@Shluffy I don't know why it is just that I have found out from github it wouldn't work

[2021-06-06 12:07] Shluffy commented on #154
clearly I am doing this

[2021-06-06 12:07] #153 closed

[2021-06-06 12:08] Shluffy commented on #148
@xItzDiamondx ?

[2021-06-08 00:15] xItzDiamondx commented on #148
Hi. I'm just seeing this as I am on summer break. I'll check.

[2021-06-08 18:43] Shluffy commented on #147
i also deleted a bunch of my comments to

[2021-06-11 11:58] #147 closed

[2021-06-11 11:58] Shluffy commented on #154
.. if i get to it

[2021-06-15 15:16] #146 closed

[2021-06-15 15:19] Shluffy commented on #53
i am gonna work on this

[2021-06-15 15:20] Shluffy opened #158 "Feature Request: Style textareas on bookmarklet page"

[2021-06-15 15:21] Shluffy opened #159 "Feature Request: link bookmarklets page rather then projects page"

[2021-06-15 15:21] Shluffy commented on #53
using window.location

[2021-06-16 17:55] #154 closed

[2021-06-16 18:30] AmazingMech2418 opened #162 "Feature Request: Add Automated Messages"
**Feature**

Add the automated messages bookmarklet I made over at @scratch-tools

**Additional context**

It allows automated messages. IDK what else to say. LOL!

[2021-06-16 18:32] AmazingMech2418 commented on #162
@Shluffy You might want to fix this so the bot only comments if it is a bug report...

[2021-06-16 18:50] #158 closed

[2021-06-16 19:01] Shluffy commented on #162
@AmazingMech2418 fixed, and feel free to follow the steps in the contributing.md file over [here](https://github.com/Scratch-Bookmarklets/Scratch-Bookmarklets.github.io/blob/master/CONTRIBUTING.md)

[2021-06-16 19:13] Shluffy commented on #162
i also don't understand it because of the multiple

[2021-06-16 19:14] AmazingMech2418 commented on #162
https://github.com/scratch-tools/scripts/blob/master/automated_messages/bookmarklet.js is the main file. Then, this is just loaded into a bookmarklet in bookmarklet.txt.

[2021-06-16 20:09] Shluffy opened #163 "remove automatic assignment for issue templates...."
.. and issue or pr will be assigned to a person who will be doing something related to that issue/pr

[2021-06-16 20:10] Shluffy commented on #105
@all-contributors pls add @theforumhelpers for code

[2021-06-16 20:12] Shluffy opened #165 "add more to readme.md"

[2021-06-16 20:12] Shluffy commented on #152
the amount of events

[2021-06-18 14:57] Time-dragon opened #167 "testing"
to see the greetings bot

[2021-06-18 14:57] Time-dragon commented on #167
greet me

[2021-06-19 15:10] ninjamar opened #170 "Feature Request: Add a link to the bookmarklets page in index.html"
Add a link to the bookmarklets page in index.html

[2021-06-20 01:31] Shluffy commented on #167
@Time-dragon pls do not do this

[2021-06-20 01:31] #167 closed

[2021-06-20 01:34] #159 closed

[2021-06-20 01:37] #170 closed

[2021-06-20 01:38] Shluffy opened #172 "site header"
few changes with the 2 new recent merged prs that i need to fix

[2021-06-20 01:39] Shluffy opened #173 "add br after each textarea file"
feel free to do this

[2021-06-20 12:01] #173 closed

[2021-06-20 12:05] Shluffy commented on #105
@all-contributors pls add @ninjamar for code

[2021-06-20 13:59] Shluffy opened #178 "change home page link to be index.html rather ..."
.. then the github pages site, meaning this will require extra changes when running on a fork/locally. i will do this with #172

[2021-06-20 17:34] #172 closed

[2021-06-20 17:34] #178 closed

[2021-06-20 17:37] #163 closed

[2021-06-21 11:52] Shluffy commented on #105
@all-contributors pls add @ninjamar for bug

[2021-06-21 20:51] xItzDiamondx commented on #148
They rejected @Shluffy

[2021-06-21 20:51] #148 closed

[2021-06-23 17:32] xItzDiamondx commented on #165
I can work on this in my free time.

[2021-06-23 18:39] xItzDiamondx opened #184 "Bug: Prettier is failing"
**Describe the bug**

The GH Action Prettier is failing on every PR. Please fix this
**To Reproduce**
Not reproduceable.

**Expected behavior**
It's supposed to work

**Browser Information**

ChromeOS Version 91.0.4472.81 (Official Build) (64-bit)
**Additional context**

NONE

[2021-06-23 21:44] Shluffy commented on #184
@FunctionalMetatable does prettier

[2021-06-23 23:24] Shluffy commented on #53
unlinked pr

[2021-06-24 05:08] FunctionalMetatable commented on #184
not my fault, the latest commit created malformed json in bookmarklets.json

[2021-06-24 21:08] Shluffy commented on #184
alright, this is just malformed json. we may want to look into the malformed json, but this is going to be labeled as invalid.

[2021-06-26 18:49] FunctionalMetatable opened #185 "Feature Request: rewrite in nuxt"
we need more styling

[2021-06-27 18:42] Shluffy commented on #185
i don't know nuxt. feel free to make a pr adding this and i will look at it

[2021-06-27 18:51] FunctionalMetatable commented on #185
or plain vue?

[2021-06-27 19:18] Shluffy commented on #185
yea

[2021-07-01 14:38] CodeGuy92 opened #186 "please it hurts my eyes"
make the main font color white so it fits with the blue background

[2021-07-01 14:38] CodeGuy92 commented on #186
and what does this website even do lmao

[2021-07-01 15:56] CodeGuy92 commented on #186
how tf does some styling help your bookmarklet

[2021-07-01 22:24] xItzDiamondx commented on #186
We are still working on it. When it is done it will have a big purpose.

[2021-07-01 22:27] Shluffy commented on #186
zack, can you pls do this. I don't really understand the styling here

[2021-07-02 13:25] xItzDiamondx commented on #186
Will do.

On Thu, Jul 1, 2021 at 5:27 PM ShluffyMonster ***@***.***>
wrote:

[2021-07-04 15:32] LankyBox01 opened #189 "Feature Request: Better Styling"
https://scratch-bookmarklets.github.io/
Please make the dark logos white. It just hurts my eyes

[2021-07-04 15:32] CodeGuy92 opened #190 "Feature Request: Add scratch-bookmarklets domain"
I can get that domain and add it to your site if you want.

[2021-07-04 15:33] CodeGuy92 commented on #190
scratch-bookmarklets.tk

[2021-07-04 21:47] Shluffy commented on #189
@xItzDiamondx pls do more on the css. maybe make themes, or use black and white rather then this color theme

[2021-07-04 21:47] Shluffy commented on #190
Nice! I would prefer a more broad one, like `.com`, `.net`, `.org`, etc. rather then one like `.tk`, whick according to wikipedia ".tk is the Internet country code top-level domain (ccTLD) for Tokelau, a territory of New Zealand in the South Pacific.", and this is not for Tokelau

[2021-07-04 21:50] Shluffy commented on #190
if possible to get a domain like the ones that I mentioned, I don't really know how to add a domain using github (otherwise I would use my domain for stuff like that). How do you do that?

[2021-07-04 21:51] Shluffy commented on #190
see https://github.com/Scratch-Bookmarklets/Scratch-Bookmarklets.github.io/issues/92#issuecomment-847262813, #92, and #148

[2021-07-04 21:54] Shluffy commented on #105
@all-contributors pls add @codeguy92 for bug and ideas

[2021-07-05 07:53] CodeGuy92 commented on #190
scratch-bookmarklets.tk
scratch-bookmarklets.ml
scratch-bookmarklets.ga
scratch-bookmarklets.cf
scratch-bookmarklets.gq

scratchbookmarklets.tk
scratchbookmarklets.ml
scratchbookmarklets.ga
scratchbookmarklets.cf
scratchbookmarklets.gq

bookmarkletsforscratch.tk
bookmarkletsforscratch.ml
bookmarkletsforscratch.ga
bookmarkletsforscratch.cf
bookmarkletsforscratch.gq

You can choose one of them that

[2021-07-05 12:36] Shluffy commented on #190
again these all are using endings for a specific place. Between these though, I think `scratch-bookmarklets.cf`

[2021-07-05 14:08] NotDiamondZ commented on #190
Ah. I see. He is using Freenom. Try using [Fosshost](fosshost.org/apply) They give you it for free but first you have to be approved.

[2021-07-05 14:09] NotDiamondZ commented on #189
I have a template [here](https://github.com/xItzDiamondx/dark-mode), but I'm just afraid that it will mess up the entire sites functionality.

[2021-07-05 14:10] NotDiamondZ commented on #189
I'll try it locally on Visual Studio Code.

[2021-07-05 14:28] NotDiamondZ commented on #189
I'm gonna solve this using https://darkmodejs.learn.uno/

[2021-07-05 14:45] NotDiamondZ commented on #189
@CodeGuy92 and @Shluffy, update. If I add dark mode, it will break the mobile friendlyness. Which is better? Or should we have a seperate site with dark mode and our main mobile friendly?

[2021-07-05 14:49] Shluffy commented on #189
we can add a `/mobile/` directory to the site

[2021-07-05 14:51] NotDiamondZ commented on #189
We sure can. I'll remove the mobile functionality locally then push using Git.

[2021-07-05 14:51] NotDiamondZ commented on #189
BTW shluffy, you can download VS Code on ur cb

[2021-07-05 15:37] Shluffy commented on #189
Make a new branch that adds the mobile directory. I can do that.

[2021-07-05 15:38] Shluffy commented on #189
did some triage updates to this issue

[2021-07-05 15:39] Shluffy commented on #185
okay. this is not going anywhere so I will close this. feel free to reopen later or make a new issue

[2021-07-05 15:39] #185 closed

[2021-07-05 17:56] NotDiamondZ commented on #189
Instead of a branch I think it should be a folder in master. Then we have all the other scripts in there but modified for mobile friendlyness

[2021-07-05 18:12] NotDiamondZ commented on #189
I'll add it

[2021-07-05 19:08] Shluffy commented on #189
no, a branch to make it on and then merge it into `master`. sorry that I was unclear

[2021-07-06 15:36] NotDiamondZ commented on #190
I'm doing a `.com` domain

[2021-07-06 18:32] NotDiamondZ commented on #190
Ok. Update: To get the domain, you have to choose another service.
@Shluffy?
![image](https://user-images.githubusercontent.com/83427897/124649774-c55d3480-de4d-11eb-9e81-1c8026d503c2.png)

[2021-07-06 18:33] NotDiamondZ commented on #190
I'm gonna do AArch64 VPS. It's a Virtual Private Server. We can store our images and stuff on there.

[2021-07-06 19:17] xItzDiamondx commented on #190
I'll close this issue for now.

[2021-07-06 19:41] NotDiamondZ commented on #152
What's the markdown for?

[2021-07-06 19:42] NotDiamondZ commented on #184
I'll work on this.

[2021-07-06 19:51] NotDiamondZ commented on #190
THEY ALREADY SAID NO WTF

[2021-07-06 19:52] NotDiamondZ commented on #190
We'll try again in 6 months.

[2021-07-06 20:33] Shluffy commented on #152
templates for issues

[2021-07-06 20:44] xItzDiamondx commented on #190
If you don't need me here, I'll leave. I'll remove all my commits and everything.

[2021-07-06 20:47] xItzDiamondx commented on #190
I do 123 commits and more than 1k additions and y'all don't appreciate. I'm done.

[2021-07-06 21:04] Shluffy commented on #190
@xItzDiamondx We want you to stay. Was it the block? either way being an org member/maintainer meant that it made no difference.

[2021-07-06 21:04] Shluffy commented on #190
Pls email me to talk about it

[2021-07-07 23:52] NotDiamondZ commented on #189
Ah. OK

[2021-07-07 23:52] NotDiamondZ commented on #189
I'll do it

[2021-07-08 05:32] FunctionalMetatable commented on #190
I should be leaving not you

[2021-07-08 23:08] xItzDiamondx commented on #190
Really, how?

[2021-07-09 00:07] #190 closed

[2021-07-12 08:52] CodeGuy92 commented on #189
yay

[2021-07-16 20:30] Shluffy commented on #162
feel free to add this, but I think I will close this.

[2021-07-16 20:30] #162 closed

[2021-07-16 20:31] Shluffy commented on #162
also, what will botty do rn or in 5 days because of this comment but didn't remove label

[2021-07-26 19:14] Shluffy opened #198 "Bug: Bookmarklets not loading"
![image](https://user-images.githubusercontent.com/81823039/127045502-8487260a-d1f6-4e39-8381-acaa19e58a65.png)

[2021-07-27 11:42] Quantum-Codes opened #199 "Bug: Looks bad on tab"
**Describe the bug**
Just looks bad on tab/mobile

Too much crowded
![Screenshot_20210727-170857_Chrome](https://user-images.githubusercontent.com/87054411/127147674-5ae89776-f0be-456f-82f8-1480b4c1418d.jpg)
![Screenshot_20210727-170846_Chrome](https://user-images.githubusercontent.com/87054411/127147692-28e38a9b-e606-4fef-8322-57fd815068b0.jpg)

**To Reproduce**
Go to the website on a tab or mobi

[2021-07-29 03:46] xItzDiamondx commented on #199
I dont know. I tested it on my phone, and, yeah it looks a bit crowded. We can fix that with some simple JS that detects the device width.![Screenshot_20210728-224534_Samsung Internet.jpg](https://user-images.githubusercontent.com/81493936/127428391-f1a952b3-e23e-4554-88b8-de7e5a32caba.jpg)

[2021-07-29 03:54] xItzDiamondx commented on #198
Weird. Maybe the mobile functionality failing caused that? I'll fix it since I'm on the site team.

[2021-07-29 04:31] Quantum-Codes commented on #199
Ok

[2021-07-29 17:27] NotDiamondZ commented on #199
I believe it is best if we create a diverse repository for the mobile users since the JS is far too intricate for me to compute. I also believe that we should create a separate repository for the bookmarks. This repository holds the website, not the bookmarklets.

[2021-07-29 20:43] Shluffy commented on #199
will work on that

[2021-08-05 03:12] NotDiamondZ commented on #199
Been 6 days. How's it going? It's best if you add me as a org member pls

[2021-08-05 18:45] xItzDiamondx commented on #53
Closing for now. Is very inactive.

[2021-08-05 18:45] #53 closed

[2021-08-05 18:46] xItzDiamondx commented on #184
Solved in commit 5f713fc993b18510d09e5aec6369e651a327a7f1 and b5c833f43cdd0cdd96136699d6911908b04eb8eb

[2021-08-05 18:46] #184 closed

[2021-08-05 20:29] xItzDiamondx commented on #186
So. Like I said, we would have to make a different repository for the mobile users without dark mode. I found a solution. We use <a href="https://github.com/twbs">Bootstrap</a> getbootstrap.com. They have a library of different items we could implement in our site. I'll make repo to test this theory. That also means less CSS and complicated HTML.

[2021-08-05 20:37] NotDiamondZ commented on #186
[Repo] (https://github.com/NotDiamondZ/sbv2)

[2021-08-06 17:10] NotDiamondZ opened #202 "Feature Request: Alert User There May Be New Update Available"
**Feature**
Alerts users that there may be a new update for that bookmarklet

In the JS, we could make a variable like this:
`var release = 'v0.1';`
Then we would make it look for a version maybe with [Shields](shields.io).
**Additional context**

None

[2021-08-06 17:11] NotDiamondZ commented on #202
cc @FunctionalMetatable @Shluffy

[2021-08-06 17:11] NotDiamondZ commented on #202
We also need to fix @github-actions

[2021-08-06 19:33] Shluffy commented on #202
if you have an idea you can make a pr

[2021-08-19 00:11] xItzDiamondx commented on #202
I'm not that good with JS so I thought you or Function could do it

[2021-08-25 22:23] imlens commented on #105
Make this a discussion @Shluffy

[2021-08-25 23:38] Shluffy commented on #105
@NotDiamondZ won't work then

[2021-08-25 23:39] Shluffy commented on #105
i will try to make an actions to remove it

[2021-09-02 04:26] #198 closed

[2021-09-05 12:59] LankyBox01 commented on #186
isjsishsjs

[2021-09-06 12:13] Quantum-Codes commented on #199
Done?

[2021-09-06 16:54] Shluffy commented on #199
No, sorry. I have been very busy, and am not experienced with mobile things. I don't think this is really meant for mobile usage, although it still looks bad. I will work on a pop-up that recommends that you view this on a computer

[2021-09-07 10:22] Quantum-Codes commented on #199
Ok

[2021-09-09 12:59] Shluffy commented on #165
not stale

[2021-09-14 13:24] #165 closed

[2021-09-15 15:20] #189 closed

[2021-09-23 01:09] #202 closed

[2021-09-30 01:12] #105 closed